/*Comment*/
body {/*background-color: green;*/
    /*opacity: 0.4;*/
    background-image: url("https://design-style-guide.freecodecamp.org/img/fcc_secondary_large.svg");
    background-position: bottom;
    
}

#idTesting {background-color: chocolate;}

/*we can select using dot and class*/
h1.heading {
    color: blue;
}

/* using only an asterisk makes everything in the html be affected by whatever is between these specific brackets*/

*{/*affects everything*/}

/*separate selected elements using a comma*/

h1.heading, #school {
    background-color: chocolate;
}

p.Margins {
    margin-left: 20px;
    margin-bottom: 20%;
    /*margin: topvalue rightvalue bottomvalue leftvalue;*/
    /*margin: allvalue;*/
    /*margin: inherit;
    it will inherit based on the tag that it is within, lets say theres a 
    <b>
        <p></p>
    </b>
    the p will inherit whatever you used to modify b in css
    */
}
